/* COLORS */

:root{
    --main-color:#f4a460;
    --second-color:#191919;
}



body {
    font-family: "Cairo", serif;
}

/* Anchor */
.anchor-styling {
    color: white;
    text-decoration: none; 
    font-size: 16px;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out;
}

.anchor-styling:hover {
    color: var(--main-color);      
}

/* BUTTON */
.btn {
    background-color: var(--main-color);
    color: black;
    padding: 3px 10px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: color 0.4s ease, transform 0.4s ease;
}

.btn:hover {
    background-color: #e59550;
    color: white;
    transform: scale(1.04);
}


/*LOGO*/

.logo {
    font-size: 14px;
    font-weight: bold;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Arial', sans-serif;
    padding: 5px 10px;
    border-radius: 4px;
}

/* TITLE */
.title{
    color: #191919;
    margin-bottom: 20px;
    font-weight: bold;
}

